<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        
      </div><!-- end header -->

    <div class="wrapper">

      <section class="project-page" style="padding-bottom: 20px; padding-top: 20px;">
        <div id="title">
          <nav>
            <ul style="text-align: left;"><li class="fork" style="margin-left: 0px;"><a href="/" style="padding: 6px 7px;">Return to Home</a></li></ul>
            <ul style="text-align: right;"><li class="fork" style="margin-left: 0px;"><a href="{{ page.itch }}" style="padding: 6px 7px;">Go to Itch Page</a></li></ul>
          </nav>
          <h1 style="color: white; font-weight: bold;">{{ page.title }}</h1>
          <p class="project-info" style="float: right; text-align: right;">
            {{ page.duration }}<br>
            {{ page.role }}
          </p>
          <p style="margin-bottom: 20px;">
            {{ page.tagline }}<br>
            {{ page.type }}
          </p>
          <hr>
        </div>

        {{ content }}
        
        <div id="title">
          <nav>
            <ul style="margin-bottom: 0px; text-align: left;"><li class="fork" style="margin-left: 0px;"><a href="/" style="padding: 6px 7px;">Return to Home</a></li></ul>
            <ul style="margin-bottom: 0px; text-align: right;"><li class="fork" style="margin-left: 0px;"><a href="{{ page.selfLink }}" style="padding: 6px 7px;">Back to Top</a></li</ul>
          </nav>
        </div>
      </section>

    </div>
  </body>
</html>
